<!DOCTYPE HTML>
<html>
  <head>
    <title> projects </title>
    <style>.row { width: {{width}}px; }</style>
  </head>

  {{!
    Comment
  }}
  <body>
    <h1> projects </h1>
    <p>
    This is the body's content.
    </p>

    <div class="row">
      {{#projects}}
        <a href="{{url}}" class="block">
          <h2> {{name}} </h2>
          <p> {{description}} </p>
        </a>
      {{/projects}}
    </div>

    <div class="back">
      <a href="/">
      &#8617;
      </a>
    </div>
 </body>
</html>
