@{
    var quote = "The future depends on what you do today. - Mahatma Gandhi";
}

@*
 Comment
*@
<p>@quote</p>

@{
    quote = "Hate cannot drive out hate, only love can do that. - Martin Luther King, Jr.";
}


<!-- Comment -->
<p>@quote</p>
